<div class="container">
  <div class="jumbotron">
    <div ngbDropdown class="d-inline-block">
      <p>
        This Example uses local mock data. Please select either John or Jane
        doe. The patients gender will change options
      </p>
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Select Patient
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let name of names"
          (click)="findPatient(name.id)"
          ngbDropdownItem
        >
          {{ name.name }}
        </button>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <h2 class="mx-auto">
                Patient: {{ selectedpatient.patientName }}
              </h2>
            </div>
            <div class="row pt-4">
              <div class="col">
                <div class="row">
                  <p>
                    <b>Patient id: {{ selectedpatient.patinentNumber }}</b>
                  </p>
                </div>
                <div class="row">
                  <p>
                    <b
                      >Biological gender:
                      {{ selectedpatient.patientBiologicalGender }}</b
                    >
                  </p>
                </div>
                <div class="row">
                  <p><b>Address: </b></p>
                </div>
                <div class="row">
                  <p>{{ selectedpatient.address.streetname }}</p>
                </div>
                <div class="row">
                  <p>
                    {{ selectedpatient.address.city }}
                    {{ selectedpatient.address.zipCode }}
                  </p>
                </div>
                <div class="row">
                  <p>{{ selectedpatient.address.country }}</p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <p><b>Primary doctor:</b></p>
                </div>
                <div class="row">
                  <p>{{ selectedpatient.primaryDoctor.pracis }}</p>
                </div>
                <div class="row">
                  <p>{{ selectedpatient.primaryDoctor.streetname }}</p>
                </div>
                <div class="row">
                  <p>
                    {{ selectedpatient.primaryDoctor.city }}
                    {{ selectedpatient.primaryDoctor.zipCode }}
                  </p>
                </div>
                <div class="row">
                  <p>{{ selectedpatient.primaryDoctor.country }}</p>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="eventIsCollapsed = !eventIsCollapsed"
                    aria-controls="Events"
                  >
                    Show Patient History
                  </button>
                </p>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="eventIsCollapsed">
                  <div *ngFor="let event of selectedpatient.events">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">{{ event.eventName }}</div>
                        <div class="row">
                          Start: {{ event.start }} End: {{ event.end }}
                        </div>
                        <div class="row">
                          Doctor: {{ event.treatingDoctor }}
                        </div>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <p>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="medicinIsCollapsed = !medicinIsCollapsed"
                    aria-controls="Medicin"
                  >
                    Show Medication
                  </button>
                </p>
                <div
                  #collapse="ngbCollapse"
                  [(ngbCollapse)]="medicinIsCollapsed"
                >
                  <div *ngFor="let medicin of selectedpatient.medicins">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">{{ medicin.medicationName }}</div>
                        <div class="row">{{ medicin.dose }}</div>
                        <div class="row">
                          Proscribed by: {{ medicin.proscribedBy }}
                        </div>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <form class="form-inline">
                <div class="form-group">
                  <div class="col">
                    <button
                      class="btn btn-outline-primary"
                      (click)="addEvent()"
                    >
                      Add New History Entry
                    </button>
                    <div
                      *ngFor="let newevent of newEvents; let i = index"
                      class="py-2"
                    >
                      <div class="card">
                        <div class="card-body">
                          <div class="container">
                            <div class="row pt-1">
                              <label
                                >Description
                                <textarea
                                  [(ngModel)]="newevent.eventDes"
                                  #name="ngModel"
                                  name="newevent{{ i }}"
                                ></textarea>
                              </label>
                            </div>
                            <div class="row">
                              <label
                                >Start date <br />
                                <div class="input-group">
                                  <input
                                    class="form-control"
                                    placeholder="yyyy-mm-dd"
                                    name="dp"
                                    [(ngModel)]="newevent.start"
                                    placeholder="yyyy-mm-dd"
                                    ngbDatepicker
                                    #d="ngbDatepicker"
                                  />
                                  <div class="input-group-append">
                                    <button
                                      class="btn btn-outline-secondary calendar"
                                      (click)="d.toggle()"
                                      type="button"
                                    ></button>
                                  </div>
                                </div>
                              </label>
                            </div>
                            <div class="row">
                              <button
                                class="btn btn-outline-danger"
                                (click)="removeEvent()"
                              >
                                Remove
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <hr />
            <form>
              <h4 class="text-center">Current Treatment Plan</h4>
              <br />
              <div class="row">
                <div
                  *ngFor="let step of treatmentPlan; let i = index"
                  class="col-lg-4 d-flex align-items-stretch py-2"
                >
                  <div class="card w-100">
                    <div class="card-header">
                      <div class="float-left">
                        <b>Step {{ step.stepId }}</b>
                      </div>
                      <div class="float-right">
                        <button
                          class="btn btn-outline-danger btn-sm"
                          (click)="removeTreamentStep(i)"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <b>Body location:</b> {{ step.bodylocation }}
                      </div>
                      <div class="row">
                        <b>Description: </b> {{ step.description }}
                      </div>
                      <div class="row">
                        <b> Treatment Type: </b> {{ step.treatmenttype }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button
                    class="btn btn-outline-primary"
                    (click)="
                      openNewStep(selectedpatient.patientBiologicalGender)
                    "
                  >
                    Add New Step
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
